*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.date-month-year{
  position: absolute;
  right: 33%;
  top: 15%;
}
.date-of-today{
  width: 450px;
  height: 100px;
  background-color: black;
  margin-right: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.label-date{
  color: #fff;
  display: flex;
  align-items: center;
  width: 450px;
  z-index: 10;
  justify-content: space-around;
}
.label{
  font-size: 18px;
  margin-bottom: -30px;
}

.current-date{
  color: white;
  text-align: center;
  font-size: 30px;
  width: 20%;
  height:30%;
  border-radius: 10px;
}
#day, #month, #year{
  background: linear-gradient(to right, hsl(200, 70%, 22%), hsl(175, 99%, 50%));
}
.clock{
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  right: 40%;
  top: 35%;
}

.clock .number{
  --rotation: 0;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation)); 
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 30;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px splid white solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position:absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; 
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: rgb(26, 137, 165);
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}


@media only screen and (max-width: 720px) {
  .date-month-year{
    right: 15%;
  }
 .clock{
    right: 30%;
  }
}
@media only screen and (max-width: 360px) {
  .date-month-year{
    right: -10%;
  }
 .clock{
    right: 10%;
  }
  .date-of-today{
    width: 350px;
    height: 100px;
  }
  .label-date{
    width: 350px;
  }
  .label{
    font-size: 18px;
    margin-bottom: -30px;
  }
  .current-date{

    font-size: 25px;
    width: 20%;
    height:30%;
  }
}
